body {
    max-width: max-content;
    margin: auto;
    padding: 30px;
    background-color: orange;
}

h1 {
    display: inline-block;
    width: 100px;
    background-color: white;
}


.history_row {
    background-color: cadetblue;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    height: 40px;
    width: 100%;
}

table {
    width: 300px;
    border-collapse: collapse;

}

tr {
    border-bottom: 1px solid black;

}

#delete_btn {
    /* color: royalblue;
    height: 25px;
    padding: 4px 6px 4px 6px;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px; */
    margin: 10px 0px 10px 35px;
}

.table_cells {
    padding: 10px 0px 10px 60px;
}